.circle {
  width: 200px;
  height: 165px;
  background-color: #1A659E;
  box-sizing: border-box;
  padding: 20px;
  border-radius: 20px;
}
.initials div {
  width: 40px;
  float: left;
  margin: 10px;
}
.initials div nth-of-type(2) {
	margin-left: -5px;
}

.initials div svg + .initials div svg {
	float: left;
}
.circle p {
  font-family: 'Helvetica';
  color: #EFEFD0;
  letter-spacing: 0.2em;
  line-height: 24px;
  text-align: left;
  margin-left: 10px;
}
